{ box-sizing: border-box;
    margin: 0;}
.item1 {
    
    color: rgb(43, 122, 43);
    text-align: center;
}
.item2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: large;
    padding: 8%;
    color:blueviolet
}
.center {text-align: center;}
.item3 {
    text-align: center;
    background-color: rgba(137, 43, 226, 0.356);
    border-color: rgb(26, 197, 91);
    border-style: ridge;
    border-width: thick
}
.item4 {
    text-align: center;
    background-color: rgba(165, 165, 78, 0.418);
    padding: 15px;
    border:3px dotted #f8a100; height:
}